//Color palette 
$light-blue: #B9F3FC;
$blue-sky: #AEE2FF;
$blue-sea: #93C6E7;
$blue: rgb(146, 146, 183);
$pink: #d587c3;
$white: #fff;

//Font size
$logoLg: 120px;
$titleLg: 40px;
$texteLg: 22px;
$logoLg: 55px;

//animation 
@keyframes jumpShake {
    0% { transform: translateX(0) }
    25% { transform: translateY(-9px) }
    35% { transform: translateY(-9px) rotate(17deg) }
    55% { transform: translateY(-9px) rotate(-17deg) }
    65% { transform: translateY(-9px) rotate(17deg) }
    75% { transform: translateY(-9px) rotate(-17deg) }
    100% { transform: translateY(0) rotate(0) }
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-30px); }
    100% { transform: translateY(0); }
}

//Responsiveness 
@mixin mediaSm {
    @media screen and (max-width: 768px) {
        @content;
    }
}

:focus {
    outline: $pink 2px;
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background: url("./image/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;

    .logo {
        position: absolute;
        top: 20px;
        left: 20px;
        color: $blue-sea;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        font-size: $logoLg;
        text-decoration: none;
        background: $white;
        animation: 4s infinite jumpShake;
    }

    .info {
        position: absolute;
        top: 20px;
        right: 20px;
        color: $blue-sea;
        background: $white;
        font-size: 30px;
        padding: 3px 8px;
        animation: 4s infinite jumpShake;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $white;
        position: relative;
        height: 600px;
        width: 850px;
        border-radius: 48px;
        text-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }

    //back to menu
    .backBtn {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .questionBox, .menu {
        height: 100%;
        padding: 180px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    //score
    .questionBox span {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: $titleLg;
        color: $blue-sea;
        animation: 4s 1 bounce;
    }

    h1 {
        color: $blue-sea;
        font-size: $titleLg;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }

    input {
        padding: 12px 20px;
        outline: transparent;
        border-radius: 6px;
        border: 2px solid $blue-sky;
        box-sizing: border-box;
        box-shadow: 0 10px 20px rgba(115, 113, 113, 0.1), 0 3px 6px rgba(122, 120, 120, 0.05);

        &:focus {
            border: 2px solid $blue;
        }
    }

    .btnStyle {
        position: relative;
        align-items: center;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-decoration: none;
        background-color: $blue-sea;
        background-image: linear-gradient($blue-sea, $blue-sky);
        border-radius: 8px;
        border-width: 0;
        box-shadow: 0 10px 20px rgba(115, 113, 113, 0.1), 0 3px 6px rgba(122, 120, 120, 0.05);
        box-sizing: border-box;
        color: $white;
        cursor: pointer;
        font-size: 18px;
        height: 52px;
        line-height: 1;
        margin: 0;
        outline: none;
        overflow: hidden;
        padding: 0 32px;
        transform: translate3d(0, 0, 0);
        transition: all 150ms;
        vertical-align: baseline;
        white-space: nowrap;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover {
            box-shadow: $blue-sea 0 2px 8px;
            opacity: .85;
        }

        &:active {
            outline: 0;
        }

        &:focus {
            box-shadow: $blue-sea;
        }
    }

    .speechBtn {
        color: $blue;
        height: 20px;
        margin: 0 10px;
    }

    h1 {
        button {
            border: none;
            background: transparent;
        }
    }

    //Menu buttons
    .btnStyle a {
        color: $white;
        text-decoration: none;
        padding: 15px 10px 15px 80px;
        text-align: center;
    }

    //Speech icons
    .btnStyle button {
        border: none;
        background: transparent;
        color: $white;
        position: absolute;
        z-index: 5;
        right: 50px;
    }
}

//Smaller screens
@include mediaSm {
    .App {
        .container {
            height: 70vh;
            width: 90vw;
        }
        .questionBox, .menu {
            padding: 30px 10px;
        }
        .questionBox {
            height: 75%;
        }
    }  
}
